<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 04.06.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>It is my first blog post on Django Girls Blog.It is for testing purpose.</p>
        </div>
        <br>
        <div>
            <p>published: 04.06.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>It is my second blog post on Django Girls Blog.It is for testing purpose.</p>
        </div>
    </body>
</html>